{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<h1>Dashboard:</h1>
<tr>
    {% for keyword in keywords %}
    <td ><h2>{{ keyword.grupo }}</h2></td>
    <br>
    {% for noticia in keyword.keyword_noticias.all %}
    <tr>
        <td  style="background:#f3f4f5; width:500px;"><a target="_blank" href="https://twitter.com/twitter/statuses/{{noticia.url}}" style="text-decoration:none; display:block; font-family:Helvetica; font-size:14px; font-style:normal; font-weight:bold; line-height:100%; letter-spacing:normal; margin-top:0; margin-right:0; margin-bottom:5px; margin-left:0; text-align:left; color:#1060A5 !important; color:#606060 !important; ">{{ noticia.contenido }}</a><h3 style="display:block; font-family:Helvetica; font-size:12px; font-weight:normal; line-height:100%; letter-spacing:normal; margin-top:0; margin-right:0; margin-bottom:5px; margin-left:0; text-align:left; color:#606060 !important;"><i>{{ noticia.medio }}&nbsp; {{ noticia.date }}</i></h3></td>
        <br>
    </tr>
    {% endfor %}
    {% endfor %}
</tr>
<div class="container">
</div>
{% endblock content %}